<div class="Main">
  {{#if backgroundImageUrl}}<div class="Background">
    <div
      class="Image Image--cover Image--anchor{{backgroundImageAnchor}}  {{#if backgroundImageOverlay}}Image--overlay Image--dark{{/if}}">
      <img class="Image-img" src="{{backgroundImageUrl}}" />
    </div>
  </div>{{/if}}
  <div class="Inner">
    {{title}}
  </div>
</div>